/*
Project Name: One-page Wedding Agency Website
Author: Nicole Bai
Born in LA.
*/

body {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: #FF8A23;
}
footer {
    padding: 30px;
}
textarea {
    margin: 15px;
    height: 150px;
    width: 300px;
}
#logo {
    max-height: 80px;
}
#home, #planners, #procedure, #search, #contact {
    padding-top: 80px;
    padding-bottom: 30px;
    min-height: 400px;
}
#procedure, footer {
    background-color: #3A3A3A;
    color: #DDD;
}
#planners, #search {
    background-color: #EFEFEF;    
}
#tagline {
    padding-top: 200px;
    padding-left: 100px;
    font-size: 80px;
    color: #daa520;
    font-family: 'Oleo Script Swash Caps', cursive;
}
#home .parallax {
    background-image: url('../img/banner_parallax.jpg');
    height:600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
#map {
    height： 300px;
    width: 100%;
    border: 1px solid red;
}
.affix {
    width: 100%;
    top: 0;
    z-index: 100;
}
.navbar {
    min-height: 80px;
}
.navbar-brand {
    min-height: 70px;
    padding: 5px 0 0 20px;
}
.navbar li {
    padding-top: 10px;
    font-size: 18px;   
}
.navbar li a:hover {
    text-decoration: underline;
}
.person {
    height: 500px;
}
.form-input {
    width: 300px;
    margin: 10px;
}

